@charset "UTF-8";


$white: #fff;
$beige: #FFF9F0;
$offWhite: #FCFCF9;
$yellow: #ffc668;
$lightGray:#F5F5F5;
$gray: #99A4AE;
$softBlack: #707070;
$black: #383838;
$green: #59BEAB;
$darkGreen: #6F7E76;



// -----------レスポンシブ--------------


$breakpoints: ('sm': 'screen and (max-width: 375px)',
'md': 'screen and (max-width: 768px)',
'lg': 'screen and (max-width: 1000px)',
'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: xl) {
    @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ----------------------------------------------

@mixin container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 100px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

@mixin sm_container {
  width: 90%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@mixin title {
  font-size: 47px;
  color: $softBlack;
  position: absolute;
  top: -20px;
}
@mixin sm_title {
  position: relative;
  font-size: 30px;
  color: $softBlack;
  width: 30%;
  margin: 5px auto;
  text-align: center;
  padding: 5px;
  z-index: 10;
  background: linear-gradient(transparent 60%, $yellow 60%);
}

@mixin sm_box {
  width: 100%;
  height: 100%;
  margin: 10px auto 30px;
  padding: 0;
  background-color: #fff;
  position: relative;
}
@mixin contents {
  width: 80%;
  margin: auto;
  padding: 3px 0;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 1.3px;
}

@mixin sm_contents {
  width: 90%;
  margin: 8px auto;
  font-size: 15px;
  line-height: 23px;
  list-style: none;
}
@mixin ribbon {
  // background-color: $yellow;
  display: inline-block;

  
  
}
//---------------------------------------------
body {
  font-family: fot-tsukuardgothic-std, "YuGothic", Arial, sans-serif;
  background-color: $offWhite;
  color: $softBlack;
}

a {
  color: $green;
}
ul {
  list-style: none;
}
.wrap {
  width: 100%;
  margin: 0 auto;
  
  .gl-header {
    width: 100%;
    position: fixed;

    @include mq(sm) {
      
      #nav-drawer {
        position: relative;
      }
      .nav-unshown {
        display: none;
      }
      #nav-open {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
        span {
          position: absolute;
          width: 2rem;
          height: 2rem;
          display: block;
          background-color: $darkGreen;
          color: #fff;
          cursor: pointer;
          text-align: center;
          line-height: 1.8;
        }
      }
      
      // 閉じる用の薄黒カバー
      #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      
      // 中身
      #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: $offWhite;
        transition: .5s ease-in-out;
        transform: translateX(-105%);
      }
      #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
      }
      #nav-input:checked ~ #nav-content {
        transform: translateX(0%);
        box-shadow: 6px 0 25px  rgba(0, 0, 0, .15);
      }
      
      .gl-nav {
        width: 75%;
        &__list {
          text-align: center;
        }
        a {
          display: inline-block;
          padding: 20px;
          width: 100%;
          text-decoration: none;
          color: $darkGreen;
          
          &:hover {
            background-color: #eee;
          } 
        }
        
      }
    }

    @include mq(md) {
      input, #nav-open > span, {
        display: none;
      }
      .gl-nav {

        &__lists {
          display: flex;
          justify-content: space-between;
          width: 100%;
          text-align: center;
          background-color: #fff;
        }
        &__list {
          width: 100%;
          padding: 25px ;
        }
        &__list > a {
          width: 100%;
          text-decoration: none;
        }
      }
    }

    
  }
}
  

//----------メインイメージ----------------
.hero {
  width: 105%;
  height: 180px;
  margin-bottom: 120px;
  background: url("../img/hero.jpg") center center no-repeat;
  background-size: contain;
  @include mq(sm) {
    background-size: cover;
    background-position: 0px -30px;
    margin-bottom: 50px;

  }
  @include mq(md) {
    height: 100%;
    background-size: cover;
    padding: 0;
    margin-bottom: 100px;
  }
  &__title {
    text-align: center;
    font-size: 60px;
    color: $offWhite;
    padding-top: 380px;
    padding-left: 10px;
    margin-bottom: 8px;

    @include mq(sm) {
      width: 100%;
      padding-top: 4.5rem;
      font-size: 1.8rem;
    }

    @include mq(md) {
      padding: 200px 50px 15px; 
    }
  }
  &__subtitle {
    text-align: center;
    font-size: 30px;
    color: $darkGreen;
    padding-left: 10px;

    @include mq(sm) {
      font-size: 1rem;
      padding: 0;
    }
    @include mq(md) {
      padding-bottom: 100px;
    }
  }
}
//---------------About---------------------

.about {
  @include container;

  @include mq(sm) {
    @include sm_container;
  }

  @include mq(md) {
    height: 500px;
  }

  &__title {
    @include title;

    @include mq(sm) {
      @include sm_title;
    }
  }

  &__lists {
    width: 70%;
    background-color: $lightGray;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 30px;

    @include mq(sm) {
      @include sm_box;
    }
    @include mq(md) {
      padding: 10px 0;
    }

  }
  &__list {
    @include contents;

    @include mq(sm) {
      @include sm_contents;
      span {
        color: $green;
        display: block;
        font-size: 13px;
        text-decoration: underline;
      }
    }

    @include mq(md) {
      width: 95%;
      span {
        color: $green;
        display: block;
        font-size: 13px;
        text-decoration: underline;
      }
      
    }
  }
  .contact__list {
    text-align: center;
    margin: 25px 20px 10px 50px;

    @include mq(md) {
      display: inline-block;
    }
  }
}

//------------------Works--------------------

.works {
  @include container;

  @include mq(sm) {
    @include sm_container;
  }
  &__title {
    @include title;
    right: 0;
    @include mq(sm) {
      @include sm_title;
    }
  }
}

//------------------Skills------------------
.skills {
  @include container;
  @include mq(sm) {
    @include sm_container;
  }
  &__title {
    @include title;
    left: 0;

    @include mq(sm) {
      @include sm_title;
    }
  }
}
.skill {
  width: 330px;
  height: 330px;
  padding: 20px;
  background-color: $lightGray;
  position: absolute;

  &:nth-of-type(1) {
    bottom: 0;
    left: 0;
  }
  &:nth-of-type(2) {
    top: 0;
    right: 0;
  }
  &__item, &__title {
    @include contents;
  }
  &__title {
    margin-bottom: 5px;
    color: $green;
    text-decoration: underline;
  }
}

@include mq(sm) {
  .skill {
    @include sm_box;
    text-align: center;
    
    &__item, &__title {
        @include sm_contents;
    }
  }
}
//---------------------Posts----------------
.posts {
  @include container;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  &__title {
    @include title;
    right: 0;
  }
}
.post {
  width: 30%;
  height: 60%;
  border: 1px solid $lightGray;
}
@include mq(sm) {
  .posts {
    @include sm_container;
    display: block;

    &__title {
      @include sm_title;
    }
  }
  .post {
    width: 85%;
    height: 100%;
    margin: 15px auto;
    padding: 15px 0;
    font-size: 15px;
    line-height: 23px;
  }

}
//--------------------CONTACT------------------

.contact {
  width: 105%;
  height: 300px;
  background-color: $darkGreen;
  &__title {
    font-size: 47px;
    text-align: center;
    color: #FCFCFC;
    padding-top: 20px;
  }
}

@include mq(sm) {
  .contact {
    text-align: center;
    color: #FCFCFC;

    &__title {
      @include sm_title;
      width: 35%;
      color: $offWhite;
    }
    &__list {
      padding: 5px;
      margin: 10px;
      display: inline-block;
      background-color: #fff;
      border-radius: 50%;
      
      .fa {
        color: $darkGreen;
      }
    }
  }

}
@include mq(md) {
  .contact {
    height: 250px;
  }
}